* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.Navbar {
    width: 100%;
    float: left;
    background: white;
    height: 100px;
    margin: 10px;
}

.Navbar-logo {
    width: 20%;
    float: left;
    position: relative;
}

.Navbar-logo img {
    width: 250px;
    height: 50px;
    margin: 15px 30px;
}

.Navbar-menu {
    width: 50%;
    float: left;
}

.Navbar-menu ul {
    list-style: none;
    display: flex;
    margin-left: 180px;
}

.Navbar-menu ul li {
    padding: 30px 30px;
    font-family: cursive;
    font-size: 16px;
}

.Navbar-menu ul li:hover {
    color: #fff;
    background: #1f5fff;
    /* width: fit-content; */
    border-radius: 200px 300px 400px 50px;
    /* margin: 10px; */
}

.Navbar-btn-1 {
    width: 15%;
    float: left;
}

.Navbar-btn-1 button {
    padding: 10px 40px;
    margin: 20px 10px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    background: #44dd9b;
    color: white;
}


.Navbar-btn-1 button i {
    left: 0;
    padding-right: 10px;
}


.Navbar-btn-2 {
    width: 15%;
    float: left;
}

.Navbar-btn-2 button {
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    background: #497dff;
    color: white;
}

.Home {
    background-image: url(/img/Home-bg.png);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

.Home h3 {
    color: #1f5fff;
    width: 50%;
    margin-top: 130px;
    margin-left: 50px;
    font-size: 50px;
}

.Home h1 {
    color: #000d44;
    margin-left: 50px;
    font-size: 90px;

}

.Home p {
    width: 40%;
    margin-left: 80px;
    font-size: 20px;
    margin-top: 20px;
    font-family: fantasy;

}

.Home button {
    margin-left: 50px;
    padding: 10px 30px;
    color: white;
    background: #3fd797;
    border: none;
    border-radius: 40px;
    margin-top: 30px;
    font-size: 20px;
}

.Home i {
    padding: 10px;
}


.Home-card {
    width: 100%;
    float: left;
    margin-left: 70px;
    display: flex;
}

.Home-card-box {
    border: none;
    border-radius: 30px;
    box-shadow: 10px 5px 50px black;
    width: 25%;
    float: left;
    margin-left: 70px;
}

.Home-card-box-icon {
    width: 30%;
    float: left;
    font-size: 70px;
}

.Home-card-box-icon i {
    margin-top: 20px;
    margin-left: 10px;
}

.Home-card-box h3 {
    width: 70%;
    float: left;
    font-size: 30px;
    text-align: start;
    margin-top: 20px;
}

.Home-card-box p {
    width: 70%;
    float: left;
    font-size: 20px;
    color: #40424e;
}

.Home-card-box-a i {
    background: #3fd797;
    font-size: 30px;
    float: right;
    padding: 10px 30px;
    border-radius: 30px;
    margin-right: -10px;
}

.Home-welcome {
    width: 100%;
    float: left;
    margin-top: 70px;
}

.Home-welcome-info {
    width: 50%;
    float: left;
    margin-top: 90px;
}

.Home-welcome-info h2 {
    margin-left: 20px;
    font-size: 60px;
}

.Home-welcome-info h2::after {
    content: "Kivonyx Healthcare";
    color: #1f5fff;
}

.Home-welcome-info p {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 21px;
    font-family: cursive;
}

.Home-welcome-info button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: #3fd797;
    color: white;
    margin-left: 30px;
    margin-top: 30px;
}

.Home-welcome-pic {
    width: 50%;
    float: left;
    background-image: url(/img/Home-welcom.png);
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
}

.Home-product {
    background-image: url(/img/Home-product.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}



.Home-product h2 {
    text-align: center;
    font-size: 70px;
    font-family: sans-serif;
    margin-top: 70px;
}

.Home-product h2::after {
    content: "PRODUCT RANGE";
    color: #1f5fff;
}

.Home-product p {
    font-size: 25px;
    margin: 10px 400px;
    text-align: center;
}

.Home-product-box {
    width: 100%;
    float: left;
    margin-top: 100px;
    margin-left: 90px;
    display: flex;
}

.Home-product-box-1 {
    background: #fff;
    border: 1px solid black;
    border-radius: 30px;
    width: 10%;
    height: 20vh;
    margin-left: 70px;
}

.Home-product-box-1:hover {
    background: #152777;
}

.Home-product-box-1:hover i {
    color: #fff;
}

.Home-product-box-1:hover h3 {
    color: #fff;
}

.Home-product-box-1:hover .Home-product-box-read i {
    background: #3fd797;
}

.Home-product-box-1 i {
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: #0b1f50
}

.Home-product-box-1 h3 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #000d44;
}


.Home-product-box-read {
    text-align: center;
    min-height: 10px;
}

.Home-product-box-read i {

    background: #1f5fff;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
}






.Home-product-box-2 {
    background: #fff;
    border: 1px solid black;
    border-radius: 30px;
    width: 10%;
    height: 20vh;
    margin-left: 70px;
}

.Home-product-box-2:hover {
    background: #152777;
}

.Home-product-box-2:hover i {
    color: #fff;
}

.Home-product-box-2:hover h3 {
    color: #fff;
}

.Home-product-box-2:hover .Home-product-box-read i {
    background: #3fd797;
}

.Home-product-box-2 i {
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: #0b1f50
}

.Home-product-box-2 h3 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: #000d44;
}


.Home-product-box-read {
    text-align: center;
    min-height: 10px;
}

.Home-product-box-read i {

    background: #1f5fff;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
}


.Home-choose {
    width: 100%;
    float: left;
}



.Home-choose h2 {
    text-align: center;
    font-size: 70px;
    margin-top: 70px;
}


.Home-choose h2::after {
    content: "CHOOSE US";
    color: #1f5fff;
}



.Home-choose-info {
    width: 50%;
    float: left;
    margin-top: 100px;

}

.Home-choose-info-tab {
    display: flex;
    margin-top: 10px;
}

.Home-choose-info-tab i {
    background: #dee7ff;
    color: #1f5fff;
    font-size: 30px;
    padding: 30px 20px;
    border-radius: 20px;
    float: left;
    margin-left: 100px;
}

.Home-choose-info-tab h3 {
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    float: left;
    font-family: cursive;
}

.Home-choose-pic {
    width: 50%;
    float: left;
    background-image: url(/img/Home-choose.png);
    background-size: 100%;
    height: 80vh;
    margin-top: 50px;
    background-repeat: no-repeat;
}

.Home-welcome-pic img {
    width: fit-content;
}


.Home-progress {
    width: 100%;
    float: left;
}

.Home-progress-bar {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background: #050f42;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 100px;
}


.Home-progress-bar-1 {
    width: 30%;
    float: left;
}




.Home-progress-bar-1 h2 {
    font-size: 50px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}


.Home-progress-bar-1 h2::before {
    content: "25";
    color: #04ce78;
}

.Home-progress-bar-1 p {
    color: #fff;
    font-size: 30px;
    width: 100%;
}


.Home-progress-bar-2 {
    width: 30%;
    float: left;
}


.Home-progress-part {
    font-size: 70px;
    color: #fff;
    border-radius: 30px;

}



.Home-progress-bar-2 h2 {
    font-size: 50px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}


.Home-progress-bar-2 h2::before {
    content: "44";
    color: #04ce78;
}

.Home-progress-bar-2 p {
    color: #fff;
    font-size: 30px;
    width: 100%;
}




.Home-progress-bar-3 {
    width: 30%;
    float: left;
}


.Home-progress-bar-3 h2 {
    font-size: 50px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}


.Home-progress-bar-3 h2::before {
    content: "150";
    color: #04ce78;
}

.Home-progress-bar-3 p {
    color: #fff;
    font-size: 30px;
    width: 100%;
}




.Home-progress-bar-4 {
    width: 30%;
    float: left;
}


.Home-progress-bar-4 h2 {
    font-size: 50px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}


.Home-progress-bar-4 h2::before {
    content: "400";
    color: #04ce78;
}

.Home-progress-bar-4 p {
    color: #fff;
    font-size: 30px;
    width: 100%;
}


.Home-contact {
    background-image: url(/img/Home-contact.png);
    width: 100%;
    height: 82vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

.Home-contact-info {
    width: 50%;
    float: left;
    margin: 60px 50px;
}

.Home-contact-info h3 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

.Home-contact-info p {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    width: 80%;
    margin-top: 20px;
    font-size: 20px;
}


.Home-contact-chack {
    width: 50%;
    float: left;
    margin: 30px 50px;
}

.Home-contact-chack-1 {
    width: 50%;
    float: left;
}


.Home-contact-chack-1 i {
    border: 5px white;
    padding: 2px;
    border-style: dashed;
    font-size: 20px;
    border-radius: 30px;
    float: left;
    color: #152777;
}

.Home-contact-chack-1 p {
    float: left;
    color: #fff;
    font-size: 24px;
    position: relative;
    padding: 2px;
    margin-left: 5px;
    font-family: fantasy;
}



.Home-contact-form {
    width: 30%;
    background: rgb(255, 255, 255);
    height: 90vh;
    border-radius: 50px;
    box-shadow: 5px 3px 5px 13px #1f5fff;
    float: left;
    margin-top: -700px;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.Home-contact-form h3 {
    color: #000000;
    font-size: 25px;
    margin-top: 50px;
}


.Home-contact-form p {
    margin: 20px 70px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Home-contact-form h2 {
    color: #ed931c;
    font-size: 70px;
    margin-bottom: 20px;

}

.Home-contact-form-short {
    width: 100%;
    float: left;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Home-contact-form-short input {
    padding: 10px 100px;
    margin: 10px;
    border-radius: 20px;
    border-color: #8bacff;
}

.Home-contact-form-short input::placeholder {
    color: #7fc6e8;
    font-size: 18px;
    font-family: cursive;

}


.Home-contact-form-big {
    width: 100%;
    float: left;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Home-contact-form-big input {
    padding: 70px 100px;
    margin: 10px;
    border-radius: 20px;
    border-color: #8bacff;
}

.Home-contact-form-big input::placeholder {
    color: #7fc6e8;
    font-size: 18px;
    font-family: cursive;

}

.Home-contact-form-btn {
    width: 100%;
    float: left;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Home-contact-form-btn button {
    padding: 10px 90px;
    background: #3fd797;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
}

.Home-product-new h2 {
    text-align: center;
    font-size: 80px;
    font-family: cursive;
}

.Home-product-new h2::after {
    content: " Products";
    color: #1f5fff;
}


.testimonials {
    position: relative;
    margin-top: 200px;
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.testimonials:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    float: left;
}

#customers-testimonials .item-details {
    background-color: #04ce78;
    color: #fff;
    padding: 20px 10px;
    text-align: left;
}

#customers-testimonials .item-details h5 {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 18px;
}

#customers-testimonials .item-details p {
    font-size: 14px;
}

#customers-testimonials .item {
    text-align: center;
    margin-bottom: 80px;
}

.owl-carousel .owl-nav [class*=owl-] {
    transition: all 0.3s ease;
}

.owl-carousel .owl-nav [class*=owl-].disabled:hover {
    background-color: #D6D6D6;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    font-size: 20px;
    color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

.owl-carousel .owl-prev {
    left: -70px;
}

.owl-carousel .owl-next {
    right: -70px;
}




.owl-dots {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: black !important;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: lemonchiffon !important;
    margin: 0 3px;
}

.owl-dots button.owl-dot.active {
    background-color: teal !important;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}




.Footer {
    width: 100%;
    background-image: url(/img/Footer.png);
    background-size: cover;
    height: 70vh;
    margin-top: 20px;
    float: left;
}


.Footer-hed {
    display: flex;
    margin-top: 50px;
}


.Footer-hed-1 p {
    color: #fff;
    font-size: 50px;
    margin-left: 120px;
}

.Footer-hed-1 p::after {
    content: ' Newsletter';
    font-weight: 800;
}

.Footer-hed-2 input {
    padding: 10px 100px;
    border-radius: 30px;
    margin-top: 14px;
    margin-left: 50px;
    width: 100%;
}

.Footer-hed-2 input::placeholder {
    font-size: 18px;
}

.Footer-hed-3 button {
    font-size: 15px;
    padding: 15px 40px;
    border-radius: 30px;
    background: #04ce78;
    color: #fff;
    margin-top: 10px;
    margin-left: 70px;
    font-weight: 800;
    font-family: serif;
    border: none;
}


.Footer-info {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.Footer-info-1 {
    width: 25%;
    float: left;
}

.Footer-info-1 img {
    width: 80%;
}

.Footer-info-1-1 {
    width: 100%;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.Footer-info-1-1 i {
    width: 20%;
    float: left;
    font-size: 30px;
    color: #04ce78;

}


.Footer-info-1-1 p {
    width: 80%;
    float: left;
    margin-left: -50px;
    font-size: 20px;
    color: #fff;
}

.Footer-info-2 {
    width: 20%;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.Footer-info-2 h3 {
    color: #04ce78;
    font-size: 35px;
}


.Footer-info-2 h3::after {
    content: "";
    background: #04ce78;
    float: left;
    position: absolute;
    display: block;
    padding: 1px 50px;
    margin-left: 10px;
    margin-top: 5px;
}


.Footer-info-2 ul {
    list-style: none;
    color: #fff;
    margin-left: 10px;
    margin-top: 20px;
}

.Footer-info-2 ul li {
    padding-top: 10px;
    font-size: 20px;
}






.Footer-info-3 {
    width: 20%;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.Footer-info-3 h3 {
    color: #04ce78;
    font-size: 35px;
}


.Footer-info-3 h3::after {
    content: "";
    /* width: 10px; */
    /* height: 10px; */
    background: #04ce78;
    float: left;
    position: absolute;
    display: block;
    padding: 1px 50px;
    margin-left: 10px;
    margin-top: 5px;
}


.Footer-info-3 ul {
    list-style: none;
    color: #fff;
    margin-left: 10px;
    margin-top: 20px;
}

.Footer-info-3 ul li {
    padding-top: 10px;
    font-size: 20px;
}







.Footer-info-4 {
    width: 20%;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.Footer-info-4 h3 {
    color: #04ce78;
    font-size: 35px;
}


.Footer-info-4 h3::after {
    content: "";
    /* width: 10px; */
    /* height: 10px; */
    background: #04ce78;
    float: left;
    position: absolute;
    display: block;
    padding: 1px 50px;
    margin-left: 10px;
    margin-top: 5px;
}


.Footer-info-4 ul {
    list-style: none;
    color: #fff;
    margin-left: 10px;
    margin-top: 20px;
}

.Footer-info-4 ul li {
    padding-top: 10px;
    font-size: 20px;
}


.Footer-info-4-follow {
    margin-top: 40px;
    margin-left: 10px;
}

.Footer-info-4-follow h4 {
    color: #04ce78;
    font-size: 40px;
    font-family: monospace;
}

.Footer-info-4-follow-icon  {
    margin-top: 20px;
}

.Footer-info-4-follow-icon i {
    color: #000d44;
    background: #fff;
    font-size: 30px;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 40px;
}

.Footer-copyright{
    background: #04ce78;
    width: 100%;
    float: left;
}

.Footer-copyright p{
    color: #000000;
    float: left;
    font-size: 30px;
    padding: 10px 20px;
}